<template>
  <nuxt-link v-if="to" class="button" :to="to"><slot></slot></nuxt-link>
  <div v-else class="button"><slot></slot></div>
</template>

<script>
export default {
  name: "UiButton",
  props: {
    to: {
      type: String,
      default: () => "",
      require: false,
    },
  },
};
</script>

<style scoped>
.button {
  display: inline-block;
  background-color: #22328d;
  border-radius: 4px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
.button:hover {
  display: inline-block;
  background-color: #182366;
}
</style>
