<template>
  <table class="uitable">
    <thead>
      <td
        v-for="(itemHeader, index) in headers"
        :key="index"
        :class="{
          uitable__headitem: true,
          uitable__active: itemHeader.value === activeSortedValue,
        }"
        @click="setSortedElement(itemHeader.value)"
      >
        <b>{{ itemHeader.text }}</b>
      </td>
    </thead>
    <tbody>
      <tr v-for="(itemValue, indexTR) in itemsStack" :key="indexTR">
        <td
          v-for="(itemHeader, indexTD) in headers"
          :key="indexTD"
          class="uitable__item"
        >
          <slot :name="itemHeader.value" :value="itemValue[itemHeader.value]">{{
            itemValue[itemHeader.value]
          }}</slot>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "UiDataTable",
  props: {
    headers: {
      type: Array,
      default: () => [],
      require: true,
    },
    items: {
      type: Array,
      default: () => [],
      require: true,
    },
    options: {
      type: Object,
      default: () => ({
        page: 1,
        limit: 5,
      }),
      require: true,
    },
  },
  data() {
    return {
      activeSortedValue: null,
      activeSortedDesc: false,
    };
  },
  computed: {
    itemsStack() {
      let sortedValue = this.activeSortedValue
        ? this.activeSortedValue
        : this.headers[0].value;

      const sortedDesc = this.activeSortedDesc;

      const sorderdColumn = this.headers.find((e) => e.sorted);
      if (sorderdColumn) sortedValue = sorderdColumn.value;

      let sortedItems = [];

      switch (this.checkStringType(this.items[0][sortedValue])) {
        case "Date":
          sortedItems = this.sortAsDate(this.items, sortedValue, sortedDesc);
          break;
        case "Integer":
          sortedItems = this.sortAsNumber(this.items, sortedValue, sortedDesc);
          break;
        default:
          sortedItems = this.sortAsString(this.items, sortedValue, sortedDesc);
      }

      const startIndex = (this.options.page - 1) * this.options.limit;
      return sortedItems.slice(startIndex, startIndex + this.options.limit);
    },
  },
  methods: {
    setSortedElement(el) {
      this.activeSortedDesc =
        this.activeSortedValue === el ? !this.activeSortedDesc : false;
      this.activeSortedValue = el;
    },
    sortAsDate(el, value, direction) {
      const element = [...el];
      element.sort((a, b) => {
        const da = new Date(a[value]);
        const db = new Date(b[value]);
        return direction ? da - db : db - da;
      });
      return element;
    },
    sortAsString(el, value, direction) {
      const element = [...el];
      element.sort((a, b) => {
        const fa = a[value].toLowerCase();
        const fb = b[value].toLowerCase();
        if (fa < fb) {
          return direction ? -1 : 1;
        }
        if (fa > fb) {
          return direction ? 1 : -1;
        }
        return 0;
      });
      return element;
    },
    sortAsNumber(el, value, direction) {
      const element = [...el];
      element.sort((a, b) => {
        return direction ? a[value] - b[value] : b[value] - a[value];
      });
      return element;
    },
    checkStringType(str) {
      if (str && String(str).match(/^[0-9]+$/)) return "Integer";
      else if (
        str &&
        String(str).match(/^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$/)
      )
        return "Date";
      else return "String";
    },
  },
};
</script>

<style scoped>
.uitable {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}
.uitable td {
  border: 1px solid #000;
}
.uitable .uitable__headitem {
  cursor: pointer;
}
.uitable .uitable__headitem:hover {
  color: #0c4ef5;
}
.uitable .uitable__active {
  color: #0c4ef5;
}
</style>
