<template>
  <div class="input_field">
    <label class="input_field__label"><slot></slot></label>
    <input
      v-model="mutatedValue"
      :type="type"
      :readonly="readonly"
      :class="{ input_field__block: true, input_field__readonly: readonly }"
    />
  </div>
</template>

<script>
export default {
  name: "UiInputField",
  props: {
    value: {
      type: [String, Number],
      default: () => null,
      require: true,
    },
    type: {
      type: String,
      default: () => "text",
      require: false,
    },
    readonly: {
      type: Boolean,
      default: () => false,
      require: false,
    },
  },
  computed: {
    mutatedValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>

<style scoped>
.input_field .input_field__label {
  min-width: 100px;
  display: inline-block;
}
.input_field .input_field__block {
  font-size: 14px;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  min-width: 300px;
}
.input_field .input_field__readonly {
  background-color: #888888;
}
</style>
