<template>
  <div class="paginator">
    <div
      v-for="pageNumber in totalPages"
      :key="pageNumber"
      :class="{
        paginator__item: true,
        paginator__active: mutatedValue === pageNumber,
      }"
      @click="mutatedValue = pageNumber"
    >
      {{ pageNumber }}
    </div>
  </div>
</template>

<script>
export default {
  name: "UiPaginator",
  props: {
    value: {
      type: Number,
      default: () => 1,
      require: true,
    },
    totalPages: {
      type: Number,
      default: () => 1,
      require: true,
    },
  },
  computed: {
    mutatedValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>

<style scoped>
.paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 4;
  justify-content: center;
}
.paginator .paginator__item {
  border: 1px solid #000;
  padding: 2px 5px 2px 5px;
  margin: 5px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
}
.paginator .paginator__item:hover {
  background-color: #22328d;
  color: #fff;
}
.paginator .paginator__active {
  background-color: #22328d;
  color: #fff;
}
</style>
