<template>
  <div class="textarea_field">
    <label class="textarea_field__label"><slot></slot></label>
    <textarea v-model="mutatedValue" class="textarea_field__block" />
  </div>
</template>

<script>
export default {
  name: "UiTextarea",
  props: {
    value: {
      type: [String, Number],
      default: () => null,
      require: true,
    },
    type: {
      type: String,
      default: () => "text",
      require: false,
    },
  },
  computed: {
    mutatedValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>

<style scoped>
.textarea_field .textarea_field__label {
  min-width: 100px;
  vertical-align: top;
  display: inline-block;
}
.textarea_field .textarea_field__block {
  font-size: 14px;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  min-width: 300px;
  height: 300px;
}
</style>
