<template>
  <div class="container">
    <div>
      <ui-button to="/courses/add/">Add new course</ui-button>
      <div v-if="$store.state.courses.length">
        <ui-data-table
          :headers="headers"
          :items="$store.state.courses"
          :options="options"
        >
          <template v-slot:id="item">
            <ui-button
              :to="`/courses/course/${item.value}`"
              v-text="item.value"
            ></ui-button>
          </template>
          <template v-slot:start="item">
            {{ item.value | toHumanView }}
          </template>
        </ui-data-table>

        <ui-paginator
          v-model="options.page"
          :total-pages="totalPages"
        ></ui-paginator>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CoursesList",
  filters: {
    toHumanView(value) {
      if (!value) return "";
      return new Date(value).toLocaleString("ru-RU", { timeZone: "UTC" });
    },
  },
  data() {
    return {
      headers: [
        { text: "ID", value: "id" },
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "Price", value: "price" },
        { text: "Datetime", value: "start" },
      ],
      options: {
        limit: 5,
        page: 1,
      },
    };
  },
  computed: {
    totalPages() {
      return parseInt(this.$store.state.courses.length / this.options.limit);
    },
  },
};
</script>
